html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$background: #ecf0f1;
$button-colour: #e74c3c;

body {
  background-color: $background;

  .container {
    background-color: #fff;
    padding: 1em;
    margin-top: 1em;
    border-radius: 1em;

    .card {
      margin-bottom: 1em;

      .btn {
        background-color: $button-colour;
        border: $button-colour;
      }

      .actions {
        form {
          display: inline;
        }
      }
    }
  }
}
//custom css outside of bootstrap
.subtitle {
    color: grey;
    font-size: 18px;
}

.img-rounded {
    border-radius: 50%;
}
.img-rounded:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
}
