<% include ../partials/header %>

<section>
  <div>
    <a href="/persons/new">New person</a>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">

            </h5>

            <p>

            </p>

            <p>

            </p>
          </div>
        </div>
    </div>

  </div>
</section>

<% include ../partials/footer %>
